.searchPage {
    flex: 0.8;
    
    background-color: #f9f9f9 !important;
    padding: 20px;
    /* flex-wrap: wrap; */
}

.searchPage__filter {
    display: flex;
    color:#606060 !important;

}

.searchPage__filter > h4 {
    margin-left: 10px !important;
    color:#606060;
}

.searchPage__divider {
    color: red !important;
}

.searchPage__divider {
   margin-top: 10px;
}